:root {
    --max-size-width: 329px;
    --small-size-width: 249px;
}

body {
    font-family: sans-serif, Arial, Helvetica, Verdana;
    background-color: #F0F4F8;
    height: 100%;
    margin: 0;
    padding: 0;
}

.modal-window {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #0F609B;
    z-index: 9999;
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
    transition: all 0.5s;
}

.modal-window.modal-hidden {
    visibility: hidden;
    opacity: 0;
}

.modal-window>div {
    width: 320px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 32px;
    font-size: 16px;
    color: #fff;
}

.modal-window h1 {
    font-size: 24px;
    margin: 0 0 16px;
}

.modal-window .button {
    display: flex;
    justify-content: center;
    align-items: center;
}

li {
    margin-top: 10px;
}

details {
    margin-top: 10px;
}

summary {
    display: block;
    cursor: pointer;
    margin-bottom: 4px;
    font-weight: 600;
}

summary:hover {
    color: #BCCCDC;
}

img {
    border-radius: 5px;
}

#score {
    display: flex;
    width: var(--max-size-width);
    margin: 16px auto 10px auto;
    justify-content: space-between;
    align-items: baseline;
    font-size: 24px;
    color: #102A43;
}

#title {
    color: #fff;
    background-color: #0F609B;
    text-align: center;
    padding: 8px 16px;
    margin: 0;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .2);
    min-width: 305px
}

h1 {
    font-size: 24px;
    font-weight: 900;
    text-align: center;
    line-height: 100%;
    margin: 0;
    padding: 10px 0 10px 0;
    letter-spacing: -.1rem;
}

#grid {
    display: grid;
    font-size: 32px;
    line-height: 32px;
    grid-gap: 1px;
    grid-template-columns: repeat(10, 32px);
    place-content: center;
    place-items: center;
    width: var(--max-size-width);
    margin: 0 auto;
}


button.color-button {
    margin: 0 0 20px 0;
    width: 80%;
    text-align: center;
    font-size: 32px;
    padding: 16px 12px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .2);
    background-color: #fff;
    margin: 4px 2px;
    text-decoration: none;
    cursor: pointer;
    transition-duration: 0.4s;
}

#buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-content: center;
    align-items: center;
    width: var(--max-size-width);
    margin: 16px auto 0 auto;
    row-gap: 5px;
}


#feedback-container {
    margin: 0 auto;
    text-align: center;
    margin: 0 auto 16px auto;
}

a {
    color: #fff;
}

a:link {
    color: #fff;
}

a:visited {
    color: #9FB3C8;
}

a:focus {
    color: #BCCCDC;
}

a:hover {
    color: #BCCCDC;
}

a:active {
    color: #627D98;
}


button {
    border: none;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .2);
    background-color: #fff;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    text-decoration: none;
    cursor: pointer;
    transition-duration: 0.4s;
}

button:hover {
    background-color: #DCEEFB;
}

button:active {
    background-color: #84C5F4;
    box-shadow: 0 3px #666;
    transform: translateY(4px);
}

button:disabled {
    background-color: #D9E2EC;
    color: #486581;
}

.hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 1s, opacity 1s linear;
}

#countdown-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #102A43;
    opacity: 0.9;
    z-index: 999;
}

#countdown {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    height: 320px;
    width: 320px;
    text-align: center;
    z-index: 1000;
}

#countdown-value {
    color: #fff;
    display: inline-block;
    font-size: 72px;
    margin-top: 116px;
    z-index: 1000;
}

svg {
    position: absolute;
    top: 0;
    right: 0;
    width: 320px;
    height: 320px;
    transform: rotateY(-180deg) rotateZ(-90deg);
    z-index: 1000;
}

svg circle {
    stroke-dasharray: 377px;
    stroke-dashoffset: 0px;
    stroke-linecap: round;
    stroke-width: 8px;
    stroke: #fff;
    fill: none;
    animation: countdown 3.5s linear forwards;
}

@keyframes countdown {
    from {
        stroke-dashoffset: 0px;
    }

    to {
        stroke-dashoffset: 377px;
    }
}

#game-finished-modal {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #0F609B;
    z-index: 9999;
    visibility: hidden;
    opacity: 0;
    pointer-events: auto;
    transition: all 0.5s;
    text-align: center;
    color: #fff;
}

#game-finished-modal.modal-visible {
    visibility: visible;
    opacity: 1;
}

#game-finished-modal button {
    margin: 0 auto;
}

#results-summary {
    display: flex-column;
    margin: 0 auto;
    width: 250px;
}

#scores-container {
    margin: 0 auto;
    width: 250px;

}

#tabs {
    display: flex;
    justify-content: center;
    align-items: center;
}

#tabs>button.tab-button {
    width: 32px;
    text-align: center;
    font-size: 16px;
    line-height: 16px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .2);
    margin: 0px 2px;
    padding: 10px 10px;
    text-decoration: none;
    cursor: pointer;
    transition-duration: 0.4s;
}

#tabs>button.tab-button:hover {
    background-color: #FFF3C4;
}

#tabs>button.tab-button:active {
    background-color: #FCE588;
    transform: none;
}

#tabs>button.tab-button:focus {
    background-color: #FCE588;
}

#tabs>button.tab-button.selected {
    background-color: #FCE588;
}

#tabs>button.tab-button:disabled {
    background-color: #D9E2EC;
    color: #486581;
}

.title-score {
    font-weight: 600;
}

#scores-container {
    display: flex;
    justify-content: center;
}

.score-summary {
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    font-size: 20px;
    margin-top: 20px;
}

.score-summary p {
    flex: 1 1 100%;
    margin: 0;
}

#message-finished {
    margin: 100px auto 16px auto;
}

#message-part-1 {
    font-weight: 600;
    margin: 0 auto;
    text-align: center;
    font-size: 36px;
    width: 300px;
}

#message-part-2 {
    margin: 16px auto;
    text-align: left;
    font-size: 20px;
    width: 300px;
}

#game-finished-buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 400px;
    margin: 32px auto 0 auto;
}

#game-finished-buttons button {
    margin: 4px 4px 4px 4px;
}

#copied-feedback {
    display: none;
    opacity: 0;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 16px;
    transition: opacity 0.1s forwards;
}

#copied-feedback.visible {
    display: block;
    opacity: 1;
}

details>summary {
    list-style: none;
}

details>summary::-webkit-details-marker {
    display: none;
}

#cb-container {
    margin: 0 auto 16px auto;
    text-align: center;
}

div.button {
    margin-bottom: 16px;
}

@media screen and (max-width: 320px) {

    .modal-window>div {
        width: 290px;
    }

    .score-summary {
        width: 280px;
    }
}

@media screen and (max-width: 335px) {
    #grid {
        width: var(--small-size-width);
        font-size: 24px;
        line-height: 24px;
        grid-template-columns: repeat(10, 24px);
    }

    #title {
        padding: 4px 8px;
    }

    #buttons {
        width: var(--small-size-width);
    }

    #score {
        width: var(--small-size-width);
        font-size: 20px;
    }

    button.color-button {
        font-size: 24px;
    }

    button.color-button {
        font-size: 24px;
    }

    #message-part-2 {
        font-size: 16px;
    }

    #message-part-1 {
        font-size: 20px;
    }

    #tabs>button.tab-button {
        font-size: 16px;
        padding: 6px 6px;
    }

    #scores-container p {
        font-size: 16px;
    }

    button {
        font-size: 14px;
        padding: 12px 24px;
    }
}

@media screen and (min-height: 800px) {

    button.color-button {
        padding: 12px 8px;
    }
}


@media screen and (max-height: 600px) {

    .modal-window>div {
        font-size: 14px;
    }

    .modal-window h1 {
        font-size: 18px;
    }

}
